PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/casa-cr
JWT_SECRET=change-this-super-secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

